* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 50%;
  margin: 0 auto;
  background-color: rgb(255, 222, 161);
}

h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, 
  sans-serif;
  font-size: 6vw;
}

ul {
  list-style-type: none;
  margin: 5%;
}

ul li {
  text-align: center;
  width: 50%;
  margin: 3% auto;
  background-color: burlywood;
  border: 3px solid grey;
  padding: 5px;
}

ul li:hover {
  background-color: white;
}

a {
  text-decoration: none;
}